* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rainbow-text {
  background-image: linear-gradient(to left, violet,
      indigo, blue, green,
      yellow, orange, red);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 25rem;
  margin-bottom: 1.25rem;
}

.board {
  cursor: url('https://icons.iconarchive.com/icons/iconsmind/outline/16/Pen-2-icon.png') 8 8,
    pointer;
  width: 50vw;
  min-height: 70vh;
  display: grid;
  border: 1px solid black;
  box-sizing: border-box;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55vw;
  margin-top: 1.25rem;
}

.footer label {
  display: flex;
  gap: 0.5rem;
}